@font-face {
  font-family: "Public Sans";
  src: url("/fonts/public-sans.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html, body {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #504F57 transparent;   /* scroll thumb and track */
}

#nprogress .bar {
  background-color: #FFA31A;
  height: 4px;

  position: fixed;
  z-index: 1024;
  top: 0;
  left: 0;

  width: 100%;
}

#nprogress .peg {
  display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #3E3E44;
}

body::-webkit-scrollbar-thumb {
  background-color: #595761;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #6d6a77;    /* color of the scroll thumb */
}
