@font-face {
  font-family: "Public Sans";
  src: url("/fonts/public-sans.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html, body {
  scroll-behavior: smooth;
}

#nprogress .bar {
  background-color: #FFA31A;
  height: 4px;

  position: fixed;
  z-index: 1024;
  top: 0;
  left: 0;

  width: 100%;
}

#nprogress .peg {
  display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #3E3E44 !important;
}

::-webkit-scrollbar-thumb {
  background-color: #595761;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6d6a77;
}

@supports (scrollbar-color: #595761 transparent) {
  * {
    scrollbar-width: 8px;
    scrollbar-color: #595761 transparent;   /* scroll thumb and track */
  }
}
